<% let Domain="http://localhost:3000/"%>
<div class="header header-transparent dark">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="<%=Domain%>">
                    <img src="assets/img/logo.png" class="logo" alt="" />
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">
                <ul class="nav-menu">
                
                    <li><a href="<%=Domain%>">Home<span class="submenu-indicator"></span></a>
                    </li>
                    
                    <li><a href="<%=Domain%>flats-in-lucknow">Flats<span class="submenu-indicator"></span></a>
                       
                    </li>
                    
                    <li><a href="<%=Domain%>houses-in-lucknow">Houses<span class="submenu-indicator"></span></a>
                        
                    </li>
                    
                    <li><a href="<%=Domain%>plots-in-lucknow">Plots<span class="submenu-indicator"></span></a>
                        
                    </li>
                    <li>
                        <a href="<%=Domain%>real-estate-projects-in-lucknow">Projects<span class="submenu-indicator"></span></a>
                    </li>
                    
                    <li><a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</a></li>
                    
                </ul>
                
                <ul class="nav-menu nav-menu-social align-to-right">
                    
                    <li>
                        <a href="submit-property.html" class="text-success"><img src="assets/img/submit.svg" width="20" alt="" class="mr-2" />Add Property</a>
                    </li>
                    <li class="add-listing blue">
                        <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><img src="assets/img/user-light.svg" width="12" alt="" class="mr-2" />Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>