<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>real Estate</title>	
		
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- Custom Color Option -->
		<link href="assets/css/colors.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
    </head>
	
    <body class="blue-skin" id="searchDiv">
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
				<%-include('includes/nav.ejs')%>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero-banner" style="background:#eff6ff url(assets/img/123.png) no-repeat ">
				<div class="container">
					<div class="row justify-content-center" >
						<div class="col-lg-9 col-md-11 col-sm-12">
							<div class="inner-banner-text text-center">
								<p class="lead-i">Amet consectetur adipisicing <span class="badge badge-success">New</span></p>
								<h2><span class="font-normal">Find Your</span> Perfect Place.</h2>
							</div>
							<div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
								<div class="hero-search-content">
									<form  >
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12 b-r">
												
												<div class="form-group" >
													<div class="choose-propert-type">
														<ul>
															<li>
																<input id="cp-1" class="checkbox-custom" name="PropType" type="radio" value="plots" checked>
																<label for="cp-1" class="checkbox-custom-label">Plots</label>
															</li>
															<li>
																<input id="cp-2" class="checkbox-custom" name="PropType" value="flats" type="radio">
																<label for="cp-2" class="checkbox-custom-label">Flats</label>
															</li>
															<li>
																<input id="cp-3" class="checkbox-custom" name="PropType" value="houses" type="radio">
																<label for="cp-3" class="checkbox-custom-label">Houses</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-5 col-sm-12 p-0 elio">
												<div class="form-group">
													<div class="input-with-icon">
														<input type="text" id="searchBar" class="form-control" placeholder="Search for Location in Lucknow. eg: Gomti Nagar..." required="true">
														<img src="assets/img/pin.svg" width="20"></i>
													</div>
												</div>
											</div>
											
											<div class="col-lg-2 col-md-3 col-sm-12">
												<div class="form-group">
													<a id="search-btn" class="btn search-btn black">Search</a>
													<a id="anc-btn" href=""></a>

												</div>
											</div>
													
										</div>
									</form>	
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ================= Explore Flats Property ================= -->
			<section class="pt-6">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h2>Recent Flats for sale </h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="property-slide">
								
								<!-- Single Property -->
								<% allFlats.forEach((item,index)=>{%>
									<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="list-img-slide">
												<div class="click">
													<% JSON.parse(item.gallery).gallery.forEach((i)=>{%>
														<div><a href="<%=domain%>property-details/<%=item.url%>"><img src="<%=domain%>assets/uploads/<%=i.smImg%>" class="img-fluid mx-auto" alt="" /></a></div>
													<%}) %>
													
													
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type">For Sale</span>
													<h4 class="listing-name verified"><a href="<%=domain%>property-details/<%=item.url%>" class="prt-link-detail"><%=item.bedrooms%> bhk <%=item.propType%> in <%=item.locality%> Lucknow</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<h6 class="listing-card-info-price">₹ <%=item.expectedPrice%></h6>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													<div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div><%=item.bedrooms%> Beds
												</div>
												<div class="listing-card-info-icon">
													<div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div><%=item.bathrooms%> Bath
												</div>
												<div class="listing-card-info-icon">
													<div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div><%=item.BuiltUpArea%> sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" /><%=item.socityName%>, <%=item.locality%></div>
											</div>
											<div class="footer-flex">
												<a href="<%=domain%>property-details/<%=item.url%>" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
							<%})%>
								<!-- Single Property -->
								
								<!-- Single Property -->
								
								
								
								
							</div>
						</div>
					</div>
					<!-- Pagination -->
					<div class="row pt-4">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="<%=domain%>flats-in-lucknow" class="btn btn-theme-light-2 rounded">Browse More Flats ...</a>
						</div>
					</div>
					
					
				</div>
			</section>
			<!-- ============================ All plots Property ================================== -->
			<section class="bg-light">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Realty Add Plots For Sale</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
				
					<div class="row list-layout">
						
						
						<!-- Single Property Start -->
						
							<% plots.forEach((item)=>{ %>
								<div class="col-lg-6 col-md-12">
	
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="<%=domain%>plot-details/<%=item.url%>">
										<img src="assets/uploads/<%=JSON.parse(item.gallery).gallery[0].smImg%>" class="img-fluid mx-auto" alt="Plots in Lucknow Image" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="<%=domain%>plot-details/<%=item.url%>"> <%=item.TotalArea%> sqft <%=item.propType%> plot in
													<%=item.locality%></a></h4>
												<span class="prt-types rent">For Sale</span>
											</div>
											<div class="list-price">
												<% let x=Math.round(item.TotalPrice / item.TotalArea)
                                                                %>
												<h6 class="listing-card-info-price">₹ <%=x%><sub>/sqft</sub></h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												<div class="inc-fleat-icon"><img src="https://image.flaticon.com/icons/png/512/980/980578.png" width="13"
														alt=""></div>
												<%=item.TotalPrice %> ₹ 
											</div>
											<div class="listing-card-info-icon">
												<div class="inc-fleat-icon"><img src="assets/img/move.svg"
														width="13" alt="" /></div>
												<%= item.TotalArea%> sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i><%= item.locality%>, Lucknow</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
							<%})%>
						
						
					</div>
							
					<!-- Pagination -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="<%=domain%>plots-in-lucknow" class="btn btn-theme-light-2 rounded">Browse More Plots ...</a>
						</div>
					</div>
					
				</div>		
			</section>
			<!-- ============================ All Featured Property ================================== -->
			
			<!-- ================================= Explore plots Property =============================== -->
			<section class="pt-4 ">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h2>Recently Added Houses for sale </h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="property-slide">
								
								<!-- Single Property -->
								<% houses.forEach((item,index)=>{%>
									<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="list-img-slide">
												<div class="click">
													<% JSON.parse(item.gallery).gallery.forEach((i)=>{%>
														<div><a href="<%=domain%>property-details/<%=item.url%>"><img src="<%=domain%>assets/uploads/<%=i.smImg%>" class="img-fluid mx-auto" alt="" /></a></div>
													<%}) %>
													
													
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type">For Sale</span>
													<h4 class="listing-name verified"><a href="<%=domain%>property-details/<%=item.url%>" class="prt-link-detail"><%=item.bedrooms%> bhk <%=item.propType%> in <%=item.locality%> Lucknow</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<h6 class="listing-card-info-price">₹ <%=item.expectedPrice%></h6>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													<div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div><%=item.bedrooms%> Beds
												</div>
												<div class="listing-card-info-icon">
													<div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div><%=item.bathrooms%> Bath
												</div>
												<div class="listing-card-info-icon">
													<div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div><%=item.BuiltUpArea%> sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" /><%=item.socityName%>, <%=item.locality%></div>
											</div>
											<div class="footer-flex">
												<a href="<%=domain%>property-details/<%=item.url%>" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
							<%})%>
								<!-- Single Property -->
								
								<!-- Single Property -->
								
								
								
								
							</div>
						</div>
					</div>

					<!-- Pagination -->
					<div class="row pt-4">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="<%=domain%>house-for-sale-in-lucknow" class="btn btn-theme-light-2 rounded">Browse More Houses ...</a>
						</div>
					</div>
					
				</div>
			</section>
			
			<!-- ============================ Property Location Start ================================== -->
			<section class="bg-light">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Find By Locations</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row">

						<% data.slice(-6).forEach((item)=>{ %>

							<div class="col-lg-4 col-md-4">
								<div class="location-property-wrap">
									<div class="location-property-content">
										<div class="lp-content-flex">
											<h4 class="lp-content-title">Flats in <%=item.localityName %></h4>
											<span>Lucknow</span>
										</div>
										<div class="lp-content-right">
											<%
											let lox= item.localityName.trim().replace(/\s+/g, '-');
											let link=`flats-in-${lox}-lucknow`.toLowerCase().trim() 
											%>
											<a href="<%=domain%><%=link%>" class="lp-property-view"><i class="ti-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="location-property-wrap">
									<div class="location-property-content">
										<div class="lp-content-flex">
											<h4 class="lp-content-title">Plots in <%=item.localityName %></h4>
											<span>Lucknow</span>
										</div>
										<div class="lp-content-right">
											<%
											 lox= item.localityName.trim().replace(/\s+/g, '-');
											 link=`plots-in-${lox}-lucknow`.toLowerCase().trim() 
											%>
											<a href="<%=domain%><%=link%>" class="lp-property-view"><i class="ti-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="location-property-wrap">
									<div class="location-property-content">
										<div class="lp-content-flex">
											<h4 class="lp-content-title">Houses in <%=item.localityName %></h4>
											<span>Lucknow</span>
										</div>
										<div class="lp-content-right">
											<%
											 lox= item.localityName.trim().replace(/\s+/g, '-');
											 link=`houses-in-${lox}-lucknow`.toLowerCase().trim() 
											%>
											<a href="<%=domain%><%=link%>" class="lp-property-view"><i class="ti-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>

						<%})%>
						
						
						
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="#searchDiv" class="btn btn-theme-light rounded">Search For More Locations</a>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Property Location End ================================== -->
			
			
			<!-- ============================ Smart Testimonials ================================== -->
			<section class="bg-orange">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Good Reviews by Customers</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						
						<div class="col-lg-12 col-md-12">
							
							<div class="smart-textimonials smart-center" id="smart-textimonials">
								
								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-blue"><i class="ti-quote-right"></i></div>
													<img src="assets/img/user-3.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										
										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>
										
										<div class="st-author-info">
											<h4 class="st-author-title">Adam Williams</h4>
											<span class="st-author-subtitle">CEO Of Microwoft</span>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-inverse"><i class="ti-quote-right"></i></div>
													<img src="assets/img/user-8.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										
										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>
										
										<div class="st-author-info">
											<h4 class="st-author-title">Retha Deowalim</h4>
											<span class="st-author-subtitle">CEO Of Apple</span>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-purple"><i class="ti-quote-right"></i></div>
													<img src="assets/img/user-4.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										
										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>
										
										<div class="st-author-info">
											<h4 class="st-author-title">Sam J. Wasim</h4>
											<span class="st-author-subtitle">Pio Founder</span>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-primary"><i class="ti-quote-right"></i></div>
													<img src="assets/img/user-5.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										
										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>
										
										<div class="st-author-info">
											<h4 class="st-author-title">Usan Gulwarm</h4>
											<span class="st-author-subtitle">CEO Of Facewarm</span>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-success"><i class="ti-quote-right"></i></div>
													<img src="assets/img/user-6.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										
										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>
										
										<div class="st-author-info">
											<h4 class="st-author-title">Shilpa Shethy</h4>
											<span class="st-author-subtitle">CEO Of Zapple</span>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Smart Testimonials End ================================== -->
			
			<!-- ============================ Price Table Start ================================== -->
			<section>
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>See our packages</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
					
					<div class="row">
					
						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing-wrap basic-pr">
								
								<div class="pricing-header">
									<h4 class="pr-value"><sup>$</sup>49</h4>
									<h4 class="pr-title">Basic Package</h4>
								</div>
								<div class="pricing-body">
									<ul>
										<li class="available">5+ Listings</li>
										<li class="available">Contact With Agent</li>
										<li class="available">3 Month Validity</li>
										<li>7x24 Fully Support</li>
										<li>50GB Space</li>
									</ul>
								</div>
								<div class="pricing-bottom">
									<a href="#" class="btn-pricing">Choose Plan</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing-wrap platinum-pr recommended">
								
								<div class="pricing-header">
									<h4 class="pr-value"><sup>$</sup>99</h4>
									<h4 class="pr-title">Platinum Package</h4>
								</div>
								<div class="pricing-body">
									<ul>
										<li class="available">5+ Listings</li>
										<li class="available">Contact With Agent</li>
										<li class="available">3 Month Validity</li>
										<li class="available">7x24 Fully Support</li>
										<li>50GB Space</li>
									</ul>
								</div>
								<div class="pricing-bottom">
									<a href="#" class="btn-pricing">Choose Plan</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing-wrap standard-pr">
								
								<div class="pricing-header">
									<h4 class="pr-value"><sup>$</sup>199</h4>
									<h4 class="pr-title">Standard Package</h4>
								</div>
								<div class="pricing-body">
									<ul>
										<li class="available">5+ Listings</li>
										<li class="available">Contact With Agent</li>
										<li class="available">3 Month Validity</li>
										<li class="available">7x24 Fully Support</li>
										<li class="available">50GB Space</li>
									</ul>
								</div>
								<div class="pricing-bottom">
									<a href="#" class="btn-pricing">Choose Plan</a>
								</div>
								
							</div>
						</div>
						
					</div>
					
				</div>	
			</section>
			<!-- ============================ Price Table End ================================== -->
			
			<!-- ========================== Download App Section =============================== -->
			<section class="bg-light">
				<div class="container">
					<div class="row align-items-center">
						
						<div class="col-lg-7 col-md-12 col-sm-12 content-column">
							<div class="content_block_2">
								<div class="content-box">
									<div class="sec-title light">
										<p class="text-blue">Download apps</p>
										<h2>Download App Free App For Android and iPhone</h2>
									</div>
									<div class="text">
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto accusantium.</p>
									</div>
									<div class="btn-box clearfix mt-5">
										<a href="index.html" class="download-btn play-store">
											<i class="fab fa-google-play"></i>
											<span>Download on</span>
											<h3>Google Play</h3>
										</a>
										
										<a href="index.html" class="download-btn app-store">
											<i class="fab fa-apple"></i>
											<span>Download on</span>
											<h3>App Store</h3>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-5 col-md-12 col-sm-12 image-column">
							<div class="image-box">
								<figure class="image"><img src="assets/img/app.png" class="img-fluid" alt=""></figure>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ========================== Download App Section =============================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Become a Real Estate Agent?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="#" class="btn btn-call-to-act">SignUp Today</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<%-include('includes/footer.ejs')%>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<%-include('includes/login.ejs')%>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<%-include('includes/signup.ejs')%>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/rangeslider.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/slider-bg.js"></script>
		<script src="assets/js/lightbox.js"></script> 
		<script src="assets/js/imagesloaded.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		 
		<script src="assets/js/custom.js"></script>
		<%
		var d=[]
		for(let i in data){
		d.push(data[i].localityName);
		
		}
		%>
		<script>
			const spaceReplacer=(str)=>{
				str = str.trim().replace(/\s+/g, "-");
				return str;
			}
			$(function() {
				
				let x = '<%=d%>'
				var availableTags =x.split(",");
				$( "#searchBar" ).autocomplete({
					source: availableTags
				});

				$("#search-btn").click(()=>{

					let prop=$("input[name='PropType']:checked").val().trim();
					
					let ser =$("#searchBar").val();
					if(ser==""){
						$("#searchBar").css("background-color", "pink");
					}else{
						ser=spaceReplacer(ser);
						let strul=`${prop}-in-${ser}-Lucknow`.toLowerCase().trim();
				   		document.getElementById("anc-btn").href = strul;
					$("#anc-btn")[0].click();
					}
						
			

				})		

			});

	
			</script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>